html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
html,body{height:100%;width:100%;overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif; color:#444;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th {font-weight:normal; font-style:normal; font-family:Arial, Helvetica, sans-serif; color:#fff;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none; outline:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

    a {
      r:#369;
    }

    #header {
      border:solid 1px #999;
      background-color:#e3e9ee;
      -webkit-border-bottom-left-radius:4px;
      -webkit-border-bottom-right-radius:4px;
      -moz-border-radius-bottomleft:4px;
      -moz-border-radius-bottomright:4px;
      height:47px;
      border-top-left-radius:4px;
      border-top-right-radius:4px;
      margin:0;
    }

    #title {
      color:#334453;
      font-size:28px;
      text-align:left;
      font-weight:bolder;
      text-shadow:0 1px 0 #EEE;
      padding-top:0px;
      padding-left:15px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
    }

    #subtitle {
      font-size:12px;
      color:#444;
      padding-left:15px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
    }

    #tabLink {
      text-decoration:none;
      color:#3f3f3f;
    }

    #map {
      border-left:solid 1px #999;
      border-right:solid 1px #999;
      margin:0;
    }
    #BasemapToggle {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 50;
      }
    #loadingImg
    {
    	padding-top: 50px;
    }
    #chartOne{
    	color:#FFF;
    }
    
    .axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.x.axis path {
	  display: none;
	}
	
	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}
	.area {
  		fill: steelblue;
  		opacity: .7;
	}
	.dot {
  		stroke: #000;
  		fill:red;
 	}
 	.tsDot {
  		stroke: steelblue;
  		fill:white;
  		cursor:pointer;
 	}
 	.dsDot {
  		stroke: steelblue;
  		fill:red;
  		cursor:pointer;
 	}
 	.tsChartDot {
  		stroke: steelblue;
  		stroke-width: 1px;	
  		fill:white;
  		cursor:pointer;
 	}
 	.tsChartLine {
 	  fill: none;
	  stroke: steelblue;
	  stroke-width: 2.5px;		
 	}
 	.invDot {
  		stroke: steelblue;
  		fill:steelblue;
  		cursor:pointer;
 	}
	#timeSliderFooter{
      color:#334453;
      text-align:center;
      height:55px;	
      padding: 0px;
	}

	#panel{
		height:0px;
		padding: 0px;
	}
	#eventSliderPanel{
		height:45px;
		padding-top: 8px;
	}
	#splashCon{
	  position:absolute;
	  z-index:99;
	  width:100%;
      top:20%;
	  text-align:center;
	  }

	 #splashDialog{
	  margin:auto;
	  background-color:#dadada;
	  width:450px;
	  padding-bottom:5px;
	  }

	 #splashHeader{
	  background-color:#444;
	  color:#fff;
	  padding-top:10px;
	  padding-bottom:10px;
	  width:100%;
	  }
    #footer {
      font-size:12px;
      border:solid 1px #999;
      background-color:rgba(227,233,238,.7);
      -webkit-border-bottom-left-radius:4px;
      -webkit-border-bottom-right-radius:4px;
      -moz-border-radius-bottomleft:4px;
      -moz-border-radius-bottomright:4px;
      border-bottom-left-radius:4px;
      border-bottom-right-radius:4px;
      text-align:center;
      height:auto;
      margin:0;
      padding:0px 0px 0px;
    }
    #leftChart {
      font-size:12px;
      top:92px;
      width:110px;
      height:443px;
      border:solid 1px #999;
      background-color:rgba(227,233,238,.7);
      -webkit-border-bottom-left-radius:4px;
      -webkit-border-bottom-right-radius:4px;
      -moz-border-radius-bottomleft:4px;
      -moz-border-radius-bottomright:4px;
      border-bottom-left-radius:4px;
      border-bottom-right-radius:4px;
      text-align:center;

      margin:0;
      padding:0px 0px 0px;
    }
    .esriScalebar{
      padding-left:15px;
    }
    .map .bingLogo-lg{
      left:18px !important;
    }
    